{{#if showLandingPage}}

  <div>
    <img src="https://placeholder.pics/svg/1200x400" alt="" style="width:100%;">
  </div>

  <div class="mt-3">

  </div>

  <!-- COUNTDOWN -->
  {{#if showCountdown}}
  <div class="fuse-countdown-clock mt-3">
    <div class="days-wrapper">
      <div class="time">
        {{countdownDays}}
      </div>
      <div class="desc">
        {{countdownDaysText}}
      </div>
    </div>

    <div class="hours-wrapper">
      <div class="time">
        {{countdownHours}}
      </div>
      <div class="desc">
        {{countdownHoursText}}
      </div>
    </div>

    <div class="minutes-wrapper">
      <div class="time">
        {{countdownMinutes}}
      </div>
      <div class="desc">
        {{countdownMinutesText}}
      </div>
    </div>

    <div class="seconds-wrapper">
      <div class="time">
        {{countdownSeconds}}
      </div>
      <div class="desc">
        {{countdownSecondsText}}
      </div>
    </div>
  </div>
  {{/if}}

  <div class="mt-3"></div>

{{/if}}
