{{#if showPlugin}}

  <div>
    <img src="/plugins/fuse-dcu-2022-plugin/fuse/DCU_Fuse_Platform_Files.png" alt="" style="width:100%;">
  </div>

  {{#if showRequiredLogin}}
  <div class="mt-3">
    <div class="fuse-section-header">
      <h2> Log in required to continue </h2>
    </div>

    <div class="mt-1">
      An account is required. Please create an account or log in to continue.
    </div>

    <div class="mt-1">
      <div class="body-page-button-container">
        <button id="fuse-sign-up-btn" class="btn-primary sign-up-button btn btn-text ember-view" type="button">
          <span class="d-button-label">Sign Up
          </span>
        </button>
      
        <button id="fuse-log-in-btn" class="btn-primary login-button btn btn-icon-text ember-view" type="button"><svg
            class="fa d-icon d-icon-user svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
            <use href="#user"></use>
          </svg><span class="d-button-label">Log In
          </span>
        </button>
      </div>
    </div>
  </div>
  {{/if}}

  <!-- COUNTDOWN -->
  {{#if showCountdown}}
  <div class="mt-3">
    <div class="fuse-section-header">
      <h2> Not long now </h2>
    </div>
    
    <div class="fuse-countdown-clock mt-1">
      <div class="time-wrapper days-wrapper">
        <div class="time">
          {{countdownDays}}
        </div>
        <div class="desc">
          {{countdownDaysText}}
        </div>
      </div>
    
      <div class="time-wrapper hours-wrapper">
        <div class="time">
          {{countdownHours}}
        </div>
        <div class="desc">
          {{countdownHoursText}}
        </div>
      </div>
    
      <div class="time-wrapper minutes-wrapper">
        <div class="time">
          {{countdownMinutes}}
        </div>
        <div class="desc">
          {{countdownMinutesText}}
        </div>
      </div>
    
      <div class="time-wrapper seconds-wrapper">
        <div class="time">
          {{countdownSeconds}}
        </div>
        <div class="desc">
          {{countdownSecondsText}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="mt-3">
    <div class="fuse-section-header">
      <h2> Welcome </h2>
    </div>

    <div class="mt-1">
      <p>
        DCU's commitment to “Value and Develop our Staff Community” remains a key strategic pillar in the University's updated Strategy 2021 and the wider DCU Strategy, 2023 - 2027. At the heart of that commitment is the ongoing implementation of <a href="https://www.dcu.ie/hr/our-dcu">Our DCU</a>.
      </p>

      <p>
        We are delighted to invite all colleagues across DCU to participate in two events that will provide an opportunity not only to share ideas on how to enrich the staff experience at DCU, but also to discuss the key pillars of our new strategic plan 2023 - 2027.
      </p>
      
      <div class="fuse-welcome-events mt-3">
        <div class="bg-yellow">
          <p style="font-weight: 800;">
            Thursday, 20th October 2022
          </p>
          <p>
            Join one of several informal social events on all DCU teaching campuses. Details of all activities and times will be
            shared with you, and posted here, closer to the day.
          </p>
        </div>
        <div class="bg-blue">
          <p style="font-weight: 800;">
            Friday, 21st October 2022
          </p>
          <p>
            Join us here on the Our DCU Fuse platform to participate in a number of online conversations which will be hosted by
            members of the University's Senior Management Team.
          </p>
        </div>
      </div>
      
      <p class="mt-3">
        We very much look forward to talking with you then.
      </p>
      
      <p>
        Our DCU Fuse. Be heard, be part of it.
      </p>
    </div>
  </div>

  {{#if showCurrent}}
  <div class="mt-3">
    <div class="fuse-section-header">
      <h2> Current </h2>
    </div>
  </div>
  {{/if}}

  <div class="mt-3 mb-3">
    <div class="fuse-section-header">
      <h2> Schedule </h2>
    </div>

    <div class="fuse-event-wrapper mt-1">
      {{#each events as |event|}}
        <a class="fuse-event" href="/t/{{event.topicId}}">
          <div class="fuse-event-time">
            {{event.time.start}} - {{event.time.end}}
          </div>

          <div class="fuse-event-title">
            {{event.title}}
          </div>
          
          <div class="fuse-event-chairs">
            {{#each event.chairs as |chair|}}
              <div>{{chair}}</div>
            {{/each}}
          </div>
        </a>
      {{/each}}
    </div>
  </div>

{{/if}}
